@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #246bad;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

$imageHeight: 685px;
$imageWidth: 455px;

#header-title{
    margin: 40px 70px;
}

#filters-panel{
    background-color: #ffffff;
    margin: 0 auto 50px auto;
}

#pick-panel{
    display: grid;
    grid-template-columns: $imageWidth auto;
    grid-template-rows: 40% 50% 10%;
    box-shadow: 5px 5px 10px #000000;
    width: 65vw;
    height: $imageHeight;
    margin: auto;
    background-color: #6e6e6e;
    margin-bottom: 50px;
}

#poster-img{
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    height: $imageHeight;
    width: $imageWidth;
}

#title-div{
    grid-column: 2;
    grid-row: 1;
    text-align: left;
    background-color: #fff;

    #movie-title{
        font-size: 2em;
    }
}

#overview-div {
    grid-column: 2;
    grid-row: 2;
    color: #ffffff;
}

#options-div {
    grid-column: 2;
    grid-row: 3;
}

#title-div, #overview-div, #options-div{
    padding: 20px;
}